@import 'modules/variables';

body {
    background: blue;
    color: $white;
}

.content {
    padding: 1em;
    background: #ccc;
}

.content h1 {
    font-size: 5em;
}

.header {
    width: 100%;
}